<h1><%= @file.filename %></h1>

<h4><%= link_to "Return to home screen", root_path %></h4>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<table>
  <tr>
    <th>Domain</th>
    <th>Value</th>
    <th>Date</th>
  </tr>
  <% CsvDatum.file_data(@file.id).each do |row| %>
    <tr>
      <td><%= row.domain_name %></td>
      <td><%= row.value %></td>
      <td><%= row.date %></td>
  <% end %>
</table>